.features-container {
    width: 1170px;
    padding: 116px 170px;
}

.features-top {
    display: flex;
    margin-bottom: 100px;
}

.features-down {
    display: flex;
}

.features-top-first-wrap {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
}

.features-top-first-wrap img {
    align-self: center;
}

.features-top-first-header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-top-first-wrap-text p {
    text-align: center;
    font-size: 18px;
}

.features-top-second-wrap {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
}

.features-top-second-wrap img {
    align-self: center;
}

.features-top-second-header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-top-second-wrap-text p {
    text-align: center;
    font-size: 18px;
}

.features-top-third-wrap {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
}

.features-top-third-wrap img {
    align-self: center;
}

.features-top-third-header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-top-third-wrap-text p {
    text-align: center;
    font-size: 18px;
}

.features-down-first-wrap {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
}

.features-down-first-wrap img {
    align-self: center;
}

.features-down-first-header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-down-first-wrap-text p {
    text-align: center;
    font-size: 18px;
}

.features-down-second-wrap {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
}

.features-down-second-wrap img {
    align-self: center;
}

.features-down-second-header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-down-second-wrap-text p {
    text-align: center;
    font-size: 18px;
}

.features-down-third-wrap {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto 10px;
}

.features-down-third-wrap img {
    align-self: center;
}

.features-down-third-header {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-down-third-wrap-text p {
    text-align: center;
    font-size: 18px;
}


