@import url(./_cdn.scss);
@import url(./features-sec.scss);
@import url(./header.scss);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
}