@import url(./_cdn.scss);
@import url(./features-sec.scss);
@import url(./header.scss);
@import url(./works.scss);
@import url(./our-team.scss);
@import url(./slider.scss);
@import url(./downloaded.scss);
@import url(./footer.scss);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
}